{% extends 'base.html.twig' %}

{% block title %}Cloisons{% endblock %}

{% block body %}
<main class="cloi">
    <h1 class="heading-2 text-center mt-3">Les Cloisons</h1><br>
        <p class="heading-text mb-5" >Les cloisons viennent séparer l’espace intérieur en divers pièces : cuisine, séjour, salle de bain, chambres etc.
            … plusieurs variante de cloison son possibles.</p><br>
    <div class="bg-gris">
        <div class="container">
            <h2 class="structure-subtitle py-4"><em>Cloison à ossatures métalliques</em></h2>
            <p class="heading-text">Ce type de cloison est parfait pour les projets de construction ou de rénovation. Grâce à son ossature métallique « composées de rails (fixés au sol/plafond) 
            et de montants verticaux, revêtues de plaques de plâtre », elle offre une <strong>grande flexibilité.</strong><br> Que ce soit pour des <strong>maisons individuelles</strong>, des <strong>appartements</strong> ou des <strong>bâtiments collectifs</strong>
             elles répondent à une multitude de besoins en matière de séparation de pièces, d'<strong>isolation acoustique</strong>,
             d'esthétique (cloison cintré par exemple) ou encore de <strong>résistance mécanique</strong> (1, 2 ou 3 plaques par faces selon les besoins »pris en compte par notre calculateur »). 
            <div class="bg-white mx-4 my-4 p-4">
                <h4 class="mb-4 mt-3"><em>Types de cloisons</em></h4>
                <ul>
                    <li><strong>Séparatives</strong> : Séparent deux espaces distincts (habitation / garage).</li>
                    <li><strong>Distributives</strong> : Séparent des pièces au sein d’un même logement dont l’épaisseur peut varier en fonction du confort acoustique ou de la résistance au feu souhaiter (72/48 ou 98/48).</li>   
                </ul>
                <p>La cloison la plus courante est le modèle 72/48, avec une ossature de 48 mm et une épaisseur totale de 72 mm.</p> </p>         
            </div>      
            <div class="row mt-5 justify-content-evenly">
                <div class="card col-xl-5 col-md-5 col-sm-12 d-flex justify-content-center mb-5 py-4">   
                    <div class="card-header">
                        <img class="img-fluid" src="build/images/cloison72.jpg" alt="cloison distributive 72/48 ">
                    </div>
                    <div class="{#doub-card-body#}text-center mt-2">
                            <p>Cloison distributive de 72/48. </p>
                    </div>
                </div>
                <div class="{#doub-right#}card col-xl-5 col-md-5 col-sm-12 d-flex justify-content-center mb-5 py-4">
                    <div class="{#doub-left#}card-header">        
                        <img class="{#doub-card-img#}img-fluid" src="build/images/cloison-72-48.jpg" alt="cloison distributive 72/48 " />
                    </div>    
                    <div class="{#doub-card-body#}text-center mt-2">
                        <p>Cloison distributive avec isolant acoustique.</P>
                    </div>
                </div>
            </div>                        
        </div>
    </div> 
    <div class="container-fluid bg-gris mt-4">
       <div class="row justify-content-between">
            <div class="col-xl-5 col-md-7 col-sm-12 d-flex justify-content-start align-items-start flex-column ms-5" id="plaf-mont-1">
                <h2 class="structure-subtitle mt-5"><em>Cloisons alvéolaires</em></h2>
                <p class="heading-text">L'épaisseur de ces cloison est de 50 mm, elles sont constituées d'une âme en carton "nid d'abeille",
             avec une plaque de plâtre de 10 mm collée sur chaque face. Elles sont plus économiques mais leurs performances acoustiques sont inférieures à celles d’une cloison sur ossature métallique: 
             Le montage se réalise avec des semelles et rails en bois, assemblés par des clavettes "2 à 3 par hauteur";ou avec un système de montage métallique.<br>Ces cloisons sont limitées par la hauteur des plaques existantes aujourd’hui à 2.70m.
            </p><br>
            </div>
            <div class="col-xl-5 col-md-5 col-sm-12 d-flex justify-content-center mt-5 me-5 align-items-center" id="plaf-mont-2">
                <div class="card card-reduced mt-4">
                    <div class="card-header">
                        <img class="img-fluid" src="build/images/cloison alveolaire.jpg" alt="cloison alvéolaire ou nid d'abeille" />
                        </div>
                    <div class="text-center mt-2">
                        <p >Cloison alvéolaire de 50mm.</p>
                    </div> 
                </div>    
            </div>
        </div>
    </div>
    <div class="bg-gris mt-4">
        <div class="container">
            <h2 class="structure-subtitle mt-4 py-4"><em>Cloison en carreaux de plâtre.</em></h2>
            <p class="heading-text">Les cloisons en carreaux de plâtre sont assemblées et collées par un système tenon-mortaise,
             avec des épaisseurs de 50 mm, 70 mm ou 100 mm. Elles sont principalement utilisées pour des séparations dans les locaux techniques où l'espace est limité.
             Résistantes au feu (de 60 à 180 minutes) et incombustibles (réaction au feu A1), elles sont plus coûteuses que les cloisons Placostil et nécessitent une finition si elles sont visibles.</p> 
            <div class="row mt-5 justify-content-evenly">
                <div class="card col-xl-5 col-md-5 col-sm-12 d-flex justify-content-center mb-5 py-4">
                    <div class="card-header">
                        <img class="img-fluid" src="build/images/cloisonCarreauxPlat.JPG" alt="cloison carreaux platre" />
                    </div>
                    <div class="text-center mt-2">
                        <p>Cloison en carreaux de plâtre.</p>
                    </div>
                </div>
                <div class="card col-xl-5 col-md-5 col-sm-12 d-flex justify-content-center mb-5 py-4">
                    <div class="card-header">
                        <img class="img-fluid" src="build/images/cloison carreaux platre2.JPG" alt="cloison carreaux platre" />
                    </div>
                    <div class="text-center mt-2">
                        <p>Cloison en carreaux de plâtre.</P>
                    </div>
                </div>
            </div>    
        </div>        
    </div>
</main>
{% endblock %}
