<section class="gray-blue w-100 py-3">
    <div class="d-flex mt-3 section-intro">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-start p-4 white rounded-3" id="intro">
                <h4 class=" grey sub-heading-1"><em>L'outil du plaquiste</em></h4>
                <h1 class="heading-1 mt-2">Quanti-Plaque</h1>
                <p class="mt-3">{#Pour obtenir la liste des matériaux nécessaires à vos réalisations en plaque de plâtre,
                 sous forme quantitative, nous avons conçu un calculateur.#}
                 "Obtenez la liste précise des matériaux et quantités nécessaires à vos réalisations en plaque de plâtre grâce à notre calculateur,<br>
                  un allié précieux pour un résultat fiable."</p>
            </div>
            <div class="col-lg-6 col-md-6 pe-5 d-flex justify-content-end aligne-items-center" id="intro-2">
                <img class="img-intro rounded-3" src="build/images/Phil24-CloiRampPoutr.jpg" alt="cloison sur montant 48" />
            </div>
    </div>
</section>
