<section class="gray-blue text-center w-100 ">
        <h1 class="{#ajout#}heading-2{#fin ajout#} {# AVANT:   "calc-title"   #}">Notre calculateur </h1>
    <div class="d-flex flex-row col-lg-12 flex-wrap px-4">
        <div class="d-flex col-xxl-3 col-lg-4 col-sm-12 flex-column align-items-center">
            <div class="calc-cube d-flex flex-column rounded-3 border text-center">
                <div class="calc-card-header ">
                    <h3 >Formulaire interactif </h3>
                </div>
                <div class="calc-card-body">
                    <p class="calc-text ">
                    {#Pour vos plafonds, doublages ou cloisons, vous devez renseigner notre formulaire
                     concernant les dimensions et caractèristiques de l'ouvrage.#}
                     Pour vos plafonds, doublages ou cloisons, remplissez notre formulaire avec vos dimensions,
                      supports et besoins spécifiques. Une solution sur mesure vous attend !</p>
                </div>
            </div>
            <div class="calc-cube d-flex flex-column rounded-3 border text-center">
                <div class="calc-card-header ">
                    <h3 >Résultat </h3>
                </div>
                <div class="calc-card-body">    
                    <p class="calc-text ">{#Il est immédiat suite à la saisie de vos variables
                     (longueur, largeur, support d'accrochage etc. …).<br>et conservé en mémoire .#}
                     Le résultat est instantané après saisie et validation de vos paramètres (longueur, largeur, support d'accrochage, etc.).<br>
                      Il peut être conservé en mémoire."</p>
                </div>
            </div>
        </div>
        <div class="d-flex col-xxl-6 col-lg-4 col-sm-12 flex-column text-start ">
            <img class="img-calc " src="build/images/Nicepage-calculateur.jpg" alt="cloison sur montant 48" />
            <h5 class="px-4 text-center">Il permet de calculer la liste exhaustive des matériaux nécessaires à la réalisation de <! a href="#" title="Découvrez la liste des différents calculs possibles." > nombreuses structures </a>en plaque de plâtre, sans limitation de hauteur ni de surface.</h5>
            <button class="btn btn-primary mx-auto btn-lg my-4">S'informer</button>        
        </div>
        <div class="d-flex col-xxl-3 col-lg-4 col-sm-12 flex-column align-items-center">
            
            <div class="calc-cube d-flex flex-column rounded-3 border text-center">
                <div class="calc-card-header ">
                    <h3 >Particuliers</h3>
                </div>
                <div class="calc-card-body">
                    <p class="calc-text ">{#Obtenez la liste du matériel nécessaire en fonction de la structure 
                    que vous souhaitez réaliser.<br>Stocker la dans votre espace personnel.#}Obtenez la liste du matériel nécessaire selon la structure que vous souhaitez réaliser 
                    et stockez-la dans votre espace personnel.
                    </p>
                </div>
            </div>
            <div class="calc-cube d-flex flex-column rounded-3 border text-center ">
                <div class="calc-card-header ">
                    <h3 >Professionnels</h3>
                </div>
                <div class="calc-card-body">    
                    <p class="calc-text ">{#Gagnez du temps, plus de calculs fastidieux,
                     notre calculateur s'en charge.<br> Retrouvez les dans votre espace personnel par: chantier, client... #}
                     "Gagnez du temps en laissant notre calculateur s'occuper des calculs. <br>
                     Retrouvez vos résultats dans votre espace personnel, par chantier ou client."</p>
                </div>
            </div>   
        </div>
    </div>    
</section>