<section class="structures">
  <div class="structure-content ">
    <div class="structure-card card-black">
      <div class="structure-card-header">
      </div>
      <div class="structure-card-body">
        <h3>Neuf et Rénovation</h3>
        <p> Dans la réalisation de vos projets en plaque de plâtre, certaines règles doivent être respectées pour garantir une réalisation optimale de vos chantiers et une fiabilité de vos structures.  
        </p>
      </div>
      <div class="structure-card-footer-black">
        <a class="card-link" href="#">Informations techniques </a>
      </div>
    </div>
    <div class="structure-card card-white">
      <div class="structure-card-header">
        <img src="{{ asset('build/images/plafond.png') }}" alt="" width="48" height="48">
      </div>
      <div class="structure-card-body">
        <h3>Plafonds</h3>
        <p>Standard, acoustique, décoratif ou modulaire, pour chaque surface une solution adaptée.
        </p>
      </div>
      <div class="structure-card-footer">
        <a class="card-link" href="#">Les ferraillages possibles.</a>
      </div>
    </div>
    <div class="structure-card card-white">
      <div class="structure-card-header">
        <img src="{{ asset('build/images/murs.png') }}" alt="" width="48" height="48">
      </div>
        <div class="structure-card-body">
          <h3>Doublages</h3>
          <p>Pour isoler et habiller la périphérie du bâtie ou d'un mur. A réaliser suivant les cas, sur ossature ou par collage.</p>
        </div>
        <div class="structure-card-footer">
          <a class="card-link" href="#">Choisir le doublage approprié.</a>
        </div>
    </div>
    <div class="structure-card card-blue">
      <div class="structure-card-header">
        <img src="{{ asset('build/images/cloison-seche.png') }}" alt="" width="48" height="48">
      </div>
      <div class="structure-card-body">
        <h3>Cloisons</h3>
        <p>Elles séparent l’espace intérieur. L’épaisseur et la nature de celle-ci vous donneront le confort souhaité.    </p>
      </div>
      <div class="structure-card-footer">
        <a class="card-link" href="#">Différentes possibilités de cloisons.</a>
      </div>
    </div> 
  </div>
</section>
